@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


.btn-animation {
  @apply transition-all duration-200 hover:scale-95;
}


.table-head {
  @apply text-sm px-4 py-2;
}

.single-product-container {
  box-shadow: -7px 7px rgba(0, 0, 0);
}

.active-tab {
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 600;
  border: 4px solid black;
  box-shadow: -3px 3px rgba(0, 0, 0);
  transition: all 0.2s ease-in-out;

}